<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md2 col-lg-4"></div>
                <div class="col-12 col-md2 col-lg-4"></div>
                <div class="col-12 col-md2 col-lg-4"></div>
            </div>






    <div class="row">
            <div class="col">
                <div class=" col-lg-12 text-center">
            <p>Buitengewoon Werkt  is een initiatief van Sint-Idesbald <br>
                
            Sint-Idesbald is een initiatief van de vzw Provincialaat der Broeders van Liefde, Stropstraat 119, 9000 Gent. <br>
            
            Sint-Idesbald • De Zilten 52 • 8800 Roeselare • T 051 26 43 00 • F 051 26 43 10 • oc.st.idesbald@fracarita.org <br>
            
            ©LienCoppens
            </p>
        
                </div>
            </div>
        </div>
</footer>





<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>