<footer class="container-fluid bh-absolute-bottom">
<div class="container">
        <br> 
    <div class="row">
            <div class="col-12 col-md2 col-lg-4"><p>Buitengewoon Werkt  is een initiatief van Sint-Idesbald <br>
                <strong>De Zilten 52 • 8800 Roeselare • T 051 26 43 00 </strong></p></div>
                <img class="afbfooter" src="{{ '/images/stidesbald.png' | relative_url }}" >

            <div class="col-12 col-md2 col-lg-4"><p>In samenwerking met <br>Lien Coppens en Arteveldehogeschool</p></div>
            <img class="afbfooter" src="{{ '/images/ARTEV.png' | relative_url }}" >
            
    </div>
    <br>
</div>    

</footer>





<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>

<!-- <div class="foo text-right">
    <img src="{{ '/images/facebook2.png' | relative_url  }}" alt="logo_donts" class="afbfooter">
    <img src="{{ '/images/facebook1.png'  | relative_url }}" alt="logo_donts" class="afbfooter">
</div>
<div class="foo text-right">
    <img src="{{ '/images/website2.png' | relative_url  }}" alt="logo_donts" class="afbfooter">
    <img src="{{ '/images/website1.png'  | relative_url }}" alt="logo_donts" class="afbfooter">
</div> -->