<footer class="container-fluid bh-absolute-bottom">
<div class="container">
        <br> 
    <div class="row">
            <div class="col-12 col-md2 col-lg-4"><p>Buitengewoon Werkt  is een initiatief van Sint-Idesbald <br>
                <strong>De Zilten 52 • 8800 Roeselare • T 051 26 43 00 </strong></p></div>
        
            <div class="col-12 col-md2 col-lg-4"><p>Sint-Idesbald is een initiatief van de vzw Provincialaat der Broeders van Liefde, Stropstraat 119, 9000 Gent.</p></div>

            <div class="col-12 col-md2 col-lg-4"><p>In samenwerking met <br>Lien Coppens en Arteveldehogeschool</p></div>
    </div>
    <br>
</div>    

          

</footer>





<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>