/* Navigation
---------------------------------------------
*/
.navbar a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bg-light {
  background-color: $color-grey-0 !important;
}

/* Algemeen */
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 250px;
    min-height: 100%;
    background-color: $clientcolor-2; 
   }

.kader {
    background-color: $color-white;
    padding-top: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
} 
a .nav-logo img {
  :hover{
    border: none;
  }
}

.order-md-12 {
background-color: $color-grey-0;
}

.foo img:last-child{display:none}
.foo:hover img:first-child{display:none}
.foo:hover img:last-child{display:inline-block}



/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
  padding-top: 20px;
  text-align: center;  
  font-size: 8px;  
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
    background-color: $mycolor-2 !important;
    color: $color-white;
    z-index: 98;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
    
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $clientcolor-2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color: $clientcolor-1; 
  }
  
}



.btn-primary, .btn-lg, .btn-sm {
  background-color: $color-white;
  border: none;
  color: $clientcolor-2;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50pt;
  margin: auto 0;
  margin-top: 20px;
  box-shadow:5px 5px 3px 0px $color-grey-1;
  line-height:25px;
  border: 3px solid $clientcolor-2;
  

    &:hover{
      background-color: $clientcolor-2 !important;
      color: $color-white;
      border: 3px solid $color-white;
      transition-duration: 0,5s;
     
      
  }
}
  



